.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}
body {
    overflow-x: hidden;
}

.flex-item {
    flex-grow: 1;
    margin: 20px;
    max-width: 340px;
    border: 12px solid #333; 
    padding: 0 20px;
}

.flex-item:hover {
    border-color: #50b457;
    box-shadow: 0px 0px 18px #317124;
}

.flex-item:focus {
    border-color: #50b457;
    box-shadow: 0px 0px 18px #317124;
}

h2, h3{
    margin: 0;
}

h2 {
    text-transform: uppercase;
}
h3 {
    color: #999;
}
 p b {
 color: #50b457;
}

.llave-img {
    width: 300px;   
}

form {
    width: 100%;
    text-align: center;
    padding: 50px;
}
input[type='submit'] {
    background: #6ae052;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 12px 28px;
    width: 200px;
    letter-spacing: .2rem;
}
